$cor-de-secao: #000000;
$rain: #2C3845;


*{
	box-sizing: border-box;
 }

body{
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 14px;
	height: 100%;
	background: linear-gradient(to right, #085772 0%, #00c9a7 100%);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

header{
	text-align: center;
	font-size: 1.3em;
	background-color: #333;
	height: 4em;
	color: #FEFEFE;
	margin-bottom: 1em;

	h1{
		font-size: 2em;
		display:inline-block;
		vertical-align:	middle;
	}

	h2{
		font-family: fantasy;
		font-size: 2em;
		display:inline-block;
		vertical-align:	middle;
	}
	

	& .container:before{
		content: '';
		display:inline-block;
		height: 100%;
		vertical-align:	middle;
	}
}

.container{
	padding: 0 200px;
	width: 60%;
	height: 100%;
	margin: 0 auto;

	h2{
		font-family: fantasy;
		font-size: 3em;
		display:inline-block;
		vertical-align:	middle;
	}
}

section{
	margin: 2em 0;
	overflow: hidden;

	h2{
		font-size: 3em;
		display: block;
		padding-bottom: .5em;
		border-bottom: 1px solid $cor-de-secao;
		margin-bottom: .5em;
	}
}

table{
	width: 100%;
	margin-bottom : .5em;
    table-layout: fixed;
	border: 2px solid;
	border-collapse: collapse;
	border-radius: 1em;
	overflow: hidden;
	box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
	

	thead {
		th {
			background-color: darken($rain,6%);
			color: #fff;
			border: 1px solid darken($rain,6%);
		}
	}

	td, th {
		padding: .7em;
		margin: 0;
		border: 1px solid $cor-de-secao;
		text-align: center;
	}

	td {
		background-color: #EEE;
		text-align: center;
		&:before {
		  content: attr(data-title);
		  color: lighten($rain,35%);
		  text-transform: uppercase;
		  font-size: 1.4rem;
		  padding-right: 10px;
		  display: block;
		}
	}	
	
	th{
		font-weight: bold;
		background-color: #EEE;
	}
}

label{
	font-size: 1.3em;
	color: #FFF;
	display: block;
	margin-bottom: .2em;
}

.campo{
	margin: 0;
	padding-bottom: 1em;
	width: 100%;
	border: 1px solid $cor-de-secao;
	padding: .7em;
	width: 100%;
	border-radius: 7px;
	outline: none;
	border: none;
}

.campo-medio{
	display: inline-block;
	padding-right: .5em;
}

.grupo{
	width: 32%;
	display: inline-block;
	padding: 10px 0px;
}

button{
	padding: .5em 2em;
	border: 0;
	border-radius: 10px 5px 10px 5px;
	border-bottom: 3px solid;
	font-size: 1.2em;
	cursor: pointer;
	margin-top: -3px;
	color: #fff;
	background-color:#652fe2;
	border-color: #491188;
	width: 35%;
    display: block;
    clear: both;
    margin: 10px 0px;
	transition: 1s;

	&:hover{
		transform: scale(1.01);
		border-radius: 5px 10px 5px 10px;
		box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.3)
	}
	
	&:active{
		margin-top:0px;
		border: 0;
	}
	
	&[disabled=disabled], button:disabled {
		background-color: gray;
		border-color: darkgray;
	
	}

}

.adicionar-paciente{
    margin-top: 30px;
}

.campo-invalido{
	border: 1px solid red;
}

.paciente-invalido {
	background-color: lightcoral;
}

#mensagens-erro {
	color: red;
}

.fadeOut {
	opacity: 0;
	transition: 0.5s;
}

#filtrar-tabela {
	width: 200px;
	height: 35px;
	margin-bottom: 10px;
}

.invisivel {
	display: none;
}
